.threeContent{
	width: 100vw;
	height: 50vh;
}

.about_content{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 100px;
	@media only screen and (max-width: 850px){
		flex-direction: column;
	}

	.profile_pic_container{
		display: flex;
		justify-content: center;
		width: 40vw;
		height: fit-content;
		flex-direction: column;
		align-items: center;

		@media only screen and (max-width: 850px) {
			width: 100vw;

			.about_desc{
				width: 100vw;
			}
		}

		.profile_pic{
			display: flex;
			flex-direction: column;

			cursor: pointer;
			position: relative;

			@media only screen and (max-width: 850px) {
				height: 300px;
				width: 300px;
			}

			.click-resume-prompt{
				display: flex;
				align-items: center;
				position: absolute;
				left: calc(100% - 100px);
				gap: 20px;

				.prompt-arrow{
					width:100px;
					transform: scale(-1, -1);
				}
	
				.prompt-text{
					display: flex;
					justify-content: center;
					color: aliceblue;
					font-weight: 500;
					height: fit-content;
					width: max-content;
				}
				
				@media only screen and (max-width: 850px) {
					bottom: -40px;
					left: 0;
					
					.prompt-arrow{
						transform: scale(-1, 1) rotate(-60deg);
					}
				}
			}
		}
	}

	.about_desc{
		height: fit-content;
		height: 100%;
		color: aliceblue;
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 20px;
		flex-direction: column;
		justify-content: center;
		flex-grow: 0.9;
		gap: 40px;

		.music_container{
			display: flex;
			flex-direction: column;
			gap: 10px;

			.music_player_widget_container{
				height: fit-content;
				width: 80%;
				padding: 10px;
				box-sizing: border-box;
				// border: 1px solid aliceblue;
				border-radius: 8px;
				backdrop-filter: blur(10px);

				@media only screen and (max-width: 850px) {
					width: 100%;
				}
			}

			.click-resume-prompt{
				display: flex;
				align-items: center;
				flex-direction: row;
				height: 100px;
				gap: 20px;
				justify-content: flex-start;
				width: 100%;

				.prompt-arrow{
					order: 2;
					width: 100px;
					transform: rotate(20deg) scale(1, -1);
					margin-top: 60px;
				}
			}
		}
		

		@media only screen and (max-width: 850px) {
			height: calc(100vh - 340px);
			width: 80vw;
			margin-top: 40px;
			justify-content: flex-start;
		}
	}
}
