.projects_page_content{
  position: relative;

  .threeContent{
    position: absolute;
    height: 100%;
  }
  .projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    justify-content: space-evenly;
  }
  
  .typewriter{
    width: fit-content;
    display: flex;
  }
}